@using Microsoft.AspNet.Identity


@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index")
        </li>
        <li>
            <input type="submit" value="Log Off" class="btn btn-primary"/>
            @*@Html.ActionLink("LogOff", "LogOff","Account", FormMethod.Post, new {@class = "btn btn-primary" })*@
        </li>

    </ul>
}